<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
    <title>Top</title>
</head>
<body>
<h1>メモアプリ</h1>
<ul>
  <% @memos.each do |memo| %>
    <li><a href=/memos/<%= memo["id"] %>><%= memo["title"] %></a></li>
  <% end %>
</ul>
<input type="button" onclick="location.href='memos/new'" value="追加">
</body>
</html>
